body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #333333;
}

canvas {
  overflow-y: hidden;
  margin: 0 auto;
}

#gamePieceCanvas {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

#frameCanvas {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
}


header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}